<div class="flex flex-col">
  <div class="p-4 space-x-4 flex flex-row justify-center">
    <div class="w-1/4">
      <form [formGroup]="editCompanyForm">
        <div class="bg-white shadow-lg rounded-lg p-8 flex space-x-8">
          <div class="flex flex-col items-center space-y-4 w-1/3">
            <div class="relative">
              @if (isEditing && logoPreviewUrl) {
                <button (click)="deleteLogo()"
                        class="text-red-500 hover:text-red-700 transition absolute top-0 right-0 z-10">
                  <ng-icon name="matClear"/>
                </button>
              }
              <label for="avatarInput" class="avatar-label">
                @if (logoPreviewUrl) {
                  <div class="w-32 h-32 rounded-full  bg-gray-200 overflow-hidden">
                    <img [src]="logoPreviewUrl" alt="Avatar Preview">
                  </div>
                } @else {
                  <div
                    class="w-32 h-32 p-2 border-2 border-dashed border-gray-300 rounded-lg flex items-center justify-center text-sm text-gray-500">
                    @if (isEditing) {
                      <span>Click to Upload</span>
                    } @else {
                      <span>No avatar</span>
                    }
                  </div>
                }
              </label>
              @if (isEditing) {
                <input id="avatarInput" type="file" (change)="onFileSelected($event)"
                       accept="image/png, image/jpeg" hidden>
              }
            </div>
          </div>
          <div class="flex-grow flex flex-col space-y-4">
            <div class="flex flex-col space-y-2" [class.group]="isEditing">
              <label for="companyName"
                     class="block text-gray-600 text-sm font-medium group-hover:text-blue-600 transition">
                Company Name
                @if (isEditing) {
                  <sup class="text-red-600">
                    <ng-icon name="matStar"/>
                  </sup>
                }
              </label>
              @if (!isEditing) {
                <p class="text-lg font-semibold">{{ company?.companyName }}</p>
              } @else {
                <input type="text"
                       id="companyName"
                       formControlName="companyName"
                       placeholder="Company name"
                       [class.border-invalid]="editCompanyForm.get('companyName')?.invalid"
                       class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
              }
            </div>
            <div class="flex flex-col space-y-2" [class.group]="isEditing">
              <label for="companyDescription"
                     class="block text-gray-600 text-sm font-medium group-hover:text-blue-600 transition">
                Description
              </label>
              @if (!isEditing) {
                <p class="text-lg font-semibold">{{ company?.companyDescription }}</p>
              } @else {
                <textarea type="text"
                          id="companyDescription"
                          formControlName="companyDescription"
                          placeholder="Company Description"
                          [class.border-invalid]="editCompanyForm.get('companyDescription')?.invalid"
                          class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 disabled:bg-gray-100 focus:ring-blue-500">
                </textarea>
              }
            </div>
            <div class="flex flex-col space-y-2" [class.group]="isEditing">
              <label for="visibility"
                     class="block text-gray-600 text-sm font-medium group-hover:text-blue-600 transition">Visibility</label>
              @if (!isEditing) {
                <p class="text-lg font-semibold capitalize">{{ company?.visibility }}</p>
              } @else {
                <ng-select
                  class="p-1 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 w-full"
                  formControlName="visibility"
                  id="visibility"
                  [items]="visibilityList"
                  [clearable]="false"
                  [searchable]="false"
                  [multiple]="false"
                  [closeOnSelect]="true"
                  [clearOnBackspace]="false"
                  [hideSelected]="false"
                ></ng-select>
              }
            </div>
            <div class="mt-auto flex justify-between">
              <div class="flex">
                @if (!isEditing) {
                  <a class="px-6 py-2 text-white bg-red-500 rounded-lg text-lg font-semibold hover:bg-red-700 transition"
                     routerLink="/companies">
                    Back
                  </a>
                }
              </div>
              <div class="flex justify-end">
                @if (!isEditing) {
                  <button [disabled]="editDisabled"
                          class="px-6 py-2 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 disabled:bg-blue-300 disabled:cursor-not-allowed transition"
                          (click)="toggleEdit()">
                    Edit
                  </button>
                } @else {
                  <button class="px-6 py-2 bg-green-600 text-white font-semibold rounded-lg hover:bg-green-700 disabled:bg-green-300 disabled:cursor-not-allowed transition"
                          [disabled]="editCompanyForm.invalid"
                          (click)="saveChanges()">
                    Save
                  </button>
                  <button class="ml-4 px-6 py-2 text-white bg-red-500 rounded-lg text-lg font-semibold hover:bg-red-700 transition"
                          (click)="cancelEdit()">
                    Cancel
                  </button>
                }
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="bg-white shadow-lg rounded-lg p-8 flex space-x-8 max-w-4xl mx-auto w-1/6">
      <members [members]="company?.members || []"
               [storedUser]="storedUser"
               [companyId]="company?.id"
               [isAdmin]="isAdmin"
               class="w-full"></members>
    </div>
    @if (isAdmin) {
      <div class="bg-white shadow-lg rounded-lg p-8 flex space-x-8 max-w-4xl mx-auto w-1/6">
        <invitations [invites]="company?.invitations || []"
                     [members]="company?.members || []"
                     [storedUserId]="storedUser?.id"
                     [companyId]="company?.id"
                     class="w-full"></invitations>
      </div>
    }
    @if (isAdmin) {
      <div class="bg-white shadow-lg rounded-lg p-8 flex space-x-8 max-w-4xl mx-auto w-1/6">
        <requests [requests]="company?.requests || []"
                  class="w-full"></requests>
      </div>
    }
  </div>
  @if(isMember) {
    <div class="p-4 space-x-4 flex flex-row justify-center w-full max-w-7xl mx-auto">
      <quizzes [isAdmin]="isAdmin" [companyId]="company?.id" class="w-full"></quizzes>
    </div>
  }
</div>

