<div class="p-4">
  <div class="p-8 bg-white shadow-lg rounded-lg max-w-7xl mx-auto">
    <div class="grid grid-cols-3 gap-4">
      <div *ngFor="let company of paginatedCompanyList" (click)="openSinglePageCompany(company)">
        <single-company-cart [company]="company"></single-company-cart>
      </div>
    </div>
    <div class="pt-8">
      <mat-paginator [length]="mockPaginationMeta.itemCount"
                     [pageSize]="mockPaginationMeta.take"
                     [pageSizeOptions]="[3, 6, 9]"
                     (page)="onPageChange($event)"
                     aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>
