<h3 class="flex items-center p-4 text-md font-bold text-gray-800 border-b border-gray-400">
  {{data.title}}
</h3>
<mat-dialog-content class="mat-typography">
  <p class="py-4">
    {{data.message}}
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button [mat-dialog-close]="true"
          cdkFocusInitial
          class="px-4 py-1 text-white bg-blue-600 rounded-lg text-lg font-semibold hover:bg-blue-700 disabled:bg-blue-300 disabled:cursor-not-allowed transition">
    Confirm
  </button>
  <button mat-dialog-close
          class="ml-4 px-4 py-1 text-white bg-red-500 rounded-lg text-lg font-semibold hover:bg-red-700 transition">
    Cancel
  </button>
</mat-dialog-actions>
