<div class="p-4">
  <div class="p-8 bg-white shadow-lg rounded-lg max-w-7xl mx-auto">
    <div class="grid grid-cols-3 gap-4">
      @for (user of paginatedUserList; track $index) {
        <div (click)="openSinglePageUser(user)">
          <single-user-cart [user]="user"></single-user-cart>
        </div>
      }
    </div>
    <div class="pt-8">
      <mat-paginator [length]="paginationMeta?.itemCount"
                     [pageSize]="paginationMeta?.take"
                     [pageIndex]="paginationMeta.page - 1"
                     [pageSizeOptions]="[3, 6, 9]"
                     (page)="onPageChange($event)"
                     aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>

