<header class="fixed top-0 left-0 right-0 mih-h-16 bg-gray-800 p-4 text-white flex items-center justify-between z-10">
  <div class="flex items-center justify-start">
    <div class="flex items-center pe-10">
      <a routerLink="/">
        <img src="./assets/images/logo.webp" alt="Logo" class="h-8 mr-4">
      </a>
    </div>
    <nav>
      <ul class="flex space-x-4 uppercase">
        <li class="p-3"><a routerLink="/users" class="hover:underline">Users</a></li>
        <li class="p-3"><a routerLink="/companies" class="hover:underline">Companies</a></li>
        <li class="p-3"><a routerLink="/about" class="hover:underline">About</a></li>
      </ul>
    </nav>
  </div>
  <div class="flex items-center px-4">
    <p>Current user: <span class="text-orange-600 font-bold">{{ userName }}</span></p>
  </div>
</header>
