<div class="p-4 bg-gray-100 rounded-lg shadow-md flex items-start justify-between space-x-2">
  <div class="flex items-center flex-row justify-start space-x-4">
    <div class="w-9 h-9 rounded-full bg-gray-300 overflow-hidden hover:scale-105 transform transition duration-300">
      <img [src]=avatarUrl alt="User avatar" class="w-full h-full object-cover">
    </div>
    <div class="text-sm font-bold break-all text-gray-600">
      <p class="text-gray-800 group-hover:text-blue-600 transition">{{ getUserName() }}</p>
      <p class="capitalize">{{ member.role?.roleName }}</p>
      @if (lastAttempt) {
        <p>Last attempt: {{ lastAttempt }}</p>
      }
    </div>
  </div>
  @if (!disableActions && member.role?.roleName !== 'owner' && storedUser?.id !== member.user?.id) {
    <div class="">
      <button mat-button [matMenuTriggerFor]="menu">
        <ng-icon name="matEdit"/>
      </button>
      <mat-menu #menu="matMenu">
        @switch (member.role?.roleName) {
          @case ('member') {
            <button mat-menu-item
                    (click)="createAdmin()">
              Create Admin
            </button>
          }
          @case ('admin') {
            <button mat-menu-item
                    (click)="createMember()">
              Create member
            </button>
          }
        }
        <button mat-menu-item
                (click)="removeMember()">
          Remove
        </button>
      </mat-menu>
    </div>
  }
</div>
