@use "sass:math";
//variables
$bg-color: #fff; //container background-color;
$basic-dark-color: #fff; //color of the spinner
$border-width: 4px; //width of spinners border
$basic-spinner-dimensions: 150px; //width and height of spinner
$main-spinner-dimensions: $basic-spinner-dimensions - $border-width * 2; //width and height of bigger circle
$small-spinner-dimensions: $main-spinner-dimensions * 0.7; //width and height of smaller circle

.spinner {
  position: relative;
  width: $basic-spinner-dimensions;
  height: $basic-spinner-dimensions;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    border-width: 8px;
    border-style: solid;
    border-radius: 50%;
  }
}

/* spinner-1 styles */
.spinner.spinner-1 {

  @keyframes rotate-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes anti-rotate-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-360deg);
    }
  }

  &:before {
    width: $main-spinner-dimensions;
    height: $main-spinner-dimensions;
    border-bottom-color: $basic-dark-color;
    border-right-color: $basic-dark-color;
    border-top-color: rgba($basic-dark-color, 0);
    border-left-color: rgba($basic-dark-color, 0);
    top: 0;
    left: 0;
    animation: rotate-animation 1.5s linear 0s infinite;
  }

  &:after {
    width: $small-spinner-dimensions;
    height: $small-spinner-dimensions;
    border-bottom-color: $basic-dark-color;
    border-right-color: $basic-dark-color;
    border-top-color: rgba($basic-dark-color, 0);
    border-left-color: rgba($basic-dark-color, 0);
    top: math.div(($main-spinner-dimensions - $small-spinner-dimensions), 2);
    left: math.div(($main-spinner-dimensions - $small-spinner-dimensions), 2);
    animation: anti-rotate-animation 0.85s linear 0s infinite;
  }
}
