<div class="p-4 bg-gray-100 rounded-lg shadow-md min-w-44 flex items-center space-x-4 hover:bg-gray-200 hover:shadow-lg hover:cursor-pointer transition duration-300">
  <div class="w-24 h-24 rounded-full bg-gray-300 overflow-hidden hover:scale-105 transform transition duration-300">
    <img src="./assets/images/face2.png" alt="User Photo" class="w-full h-full object-cover">
  </div>
  <div>
    <p class="text-xl font-bold text-gray-800 group-hover:text-blue-600 transition">{{user.firstName + ' ' + user.lastName}}</p>
  </div>
</div>
