/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
  overflow: visible;
}

.border-invalid {
  --tw-border-opacity: 1;
  border-color: rgb(220 38 38 / var(--tw-border-opacity, 1));
}

ng-select {
  .ng-select-container {
    border: none !important;
  }

  .ng-dropdown-panel {
    .ng-option-label {
      text-transform: capitalize;
    }
  }
}

