@import "./app/styles-lib/spinner";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
  overflow: visible;
}

.border-invalid {
  --tw-border-opacity: 1;
  border-color: rgb(220 38 38 / var(--tw-border-opacity, 1));
}

ng-select {
  .ng-select-container {
    border: none !important;
  }

  .ng-value-container .ng-value {
    text-transform: capitalize;
  }

  .ng-dropdown-panel {
    .ng-option-label {
      text-transform: capitalize;
    }
  }
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 100vw !important;
}

