<div class="p-4">
  <div class="p-8 bg-white shadow-lg rounded-lg max-w-7xl mx-auto space-y-6">
    <div class="">
      <h6 class="font-bold">{{quiz?.title}}</h6>
      @if (quiz?.description) {
        <p>{{quiz?.description}}</p>
      }
    </div>
    <div class="grid grid-cols-3 gap-4">
      @for (question of quiz?.questions; track $index) {
        <div class="border p-2 rounded-xl">
          <single-question [question]="question" (answersChange)="answersChangeHandler($event)"></single-question>
        </div>
      }
    </div>
    <div class="flex justify-end space-x-4">
      <button class="px-6 py-2 text-white bg-red-500 rounded-lg text-lg font-semibold hover:bg-red-700 transition" (click)="back()">
        Back
      </button>
      <button class="px-6 py-2 bg-green-600 text-white font-semibold rounded-lg hover:bg-green-700 disabled:bg-green-200 disabled:cursor-not-allowed transition"
              [disabled]="questionWithAnswersList.length !== quiz?.questions?.length"
              (click)="saveAttempt()">
        Save
      </button>
    </div>
  </div>
</div>
